package ${package.Service};

import java.io.Serializable;
import java.util.List;

import ${package.Entity}.${entity};
import ${package.Model}.${model};

import com.boot.common.base.PageReq;
import com.boot.common.base.PageResp;

import ${superServiceClassPackage};
import com.baomidou.mybatisplus.mapper.Wrapper;

/**
 * <p>
 * ${table.comment} 服务类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
public interface ${table.serviceName} extends ${superServiceClass}<${entity}> {

    /**
	 * 根据条件分页查询,返回datatables表格数据
	 * @param pageReq
	 * @return PageResp
	 * @author ${author}
	 */
	public PageResp<${model}> findPage(PageReq<${model}> pageReq);
	
    /**
	 * 根据条件查询
	 * @param ${model}
	 * @return List<${model}>
	 * @author ${author}
	 */
	public List<${model}> findList(${model} model);
	
	/**
	 * 根据条件分页查询
	 * @param Wrapper<${entity}>
	 * @param start
	 * @param limit
	 * @return List<${entity}>
	 * @author ${author}
	 */
	public List<${model}> findPage(Wrapper<${entity}> wrapper,int start,int limit);
	
	/**
	 * 新增数据
	 * @param ${model}
	 * @return boolean
	 * @author ${author}
	 */
	public boolean insert(${model} model);
	
	/**
	 * 根据主键修改记录
	 * @param ${model}
	 * @return boolean
	 * @author ${author}
	 */
	public boolean update(${model} model);
	
	/**
	 * 根据主键删除记录
	 * @param Serializable
	 * @return boolean
	 * @author ${author}
	 */
	public boolean delById(Serializable id);
	
	/**
	 * 根据主键查找记录
	 * @param Serializable
	 * @return ${model}
	 * @author ${author}
	 */
	public ${model} findById(Serializable id);
}
